@{
    ViewData["Title"] = "Get to Know Joel";
}
<h1>@ViewData["Title"]</h1>

<p>Here is a link to Quick Wits Comedy where Joel performs regularly</p>
<a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>

<p>Listen to Joel's podcast</p>
<a href="https://baconsale.com/"> 
    Baconsale 
    </a>
<br /> 
<a href="https://baconsale.com/">
    <img src="~/img/BaconsaleKate.jpg" target="_blank" alt="Baconsale Site"  height="800"/>
</a>
