@{
}

@model Mission06_Fitzgerald.Models.Movie

<h1>Add a New Movie to the List</h1>

<form method="post">
    <label asp-for="MovieTitle">Enter the title of the movie:</label>
    <input asp-for="MovieTitle" />

</form>